YT_PROXY=https://http-proxy-hackathon.demo.ytsaurus.tech/
YT_TOKEN=
YT_BASE_PATH=//home/hackathon/<your-team>

OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=
OPENSKY_POLL_INTERVAL_SECONDS=10
OPENSKY_DAILY_REQUEST_BUDGET=4000
