YT_PROXY=
YT_TOKEN=
YT_POSITIONS_CURRENT_PATH=
YT_POSITIONS_HISTORY_PATH=
YT_REF_AIRPORTS_PATH=
YT_PIPELINE_JOB_STATE_PATH=
YT_REF_AIRCRAFT_PATH=
YT_AIRPORT_EVENTS_PATH=
YT_FLIGHTS_SEGMENTS_PATH=
YT_DASHBOARD_TOTALS_PATH=
YT_DASHBOARD_TREND_PATH=
YT_DASHBOARD_TOP_AIRPORTS_PATH=
YT_DASHBOARD_ROUTES_PATH=
YT_DASHBOARD_MANUFACTURERS_PATH=

OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=
